/* Written by 2021 Gunhee Yi (gunny@kaist.ac.kr). */

body {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: 600px;
    border-radius: 10px;
    padding: 0 20px;
}
header {
  margin: 15px 0 2px 0;
}
footer {
  margin: 5px 0 15px 0;
}
.logo {
    height: 28px;
    /* transform: translateY(3px); */
    vertical-align: -10px;
}
.titles {
    display: inline-block;
    vertical-align: middle;
}
.title {
    font-weight: 500; font-size: 22px;
    display: inline;
}
.version, .warning {
    font-weight: 500; font-size: 12px;
    display: inline;
}
h4 {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 6px;
}
.flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}
input {
    vertical-align: middle;
}
label {
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: #0d6efd;
}
a:hover {
    color: #0a58ca;
}
.text {
    font-size: 13px;
}
input[type=color] {
  width: 29px;
  height: 29px;
  border: none;
  padding: 0;
  clip-path: inset(2px round 4px);
}
td {
  padding-right: 8px;
}
td > * {
  vertical-align: middle;
}
sup {
  font-size: 80%;
}

.invalid {
    border: 2px solid red;
    border-radius: 3px;
}

.line1 {
    width: 31px;
    height: 31px;
    border-bottom: 1px solid red;
    transform:
        translateY(-20.5px)
        translateX(-5.1px)
        rotate(45deg); 
    position: absolute;
}
.line2 {
    width: 31px;
    height: 31px;
    border-bottom: 1px solid red;
    transform:
        translateY(-20.5px)
        translateX(-26px)
        rotate(-45deg); 
    position: absolute;
}

.links {
    display: none;
    transform:
        translateY(-70px)
        translateX(480px);
    position: absolute;
}