/* Written by 2021 Gunhee Yi (gunny@kaist.ac.kr). */

.invalid {
    border: 2px solid red;
    border-radius: 3px;
}

.line1 {
    width: 31px;
    height: 31px;
    border-bottom: 1px solid red;
    transform:
        translateY(-20.5px)
        translateX(-5.1px)
        rotate(45deg); 
    position: absolute;
}
.line2 {
    width: 31px;
    height: 31px;
    border-bottom: 1px solid red;
    transform:
        translateY(-20.5px)
        translateX(-26px)
        rotate(-45deg); 
    position: absolute;
}

.links {
    display: none;
    transform:
        translateY(-70px)
        translateX(390px);
    position: absolute;
}